.body {
  font-family: Roboto;
  background-color: #eee;
}

.link {
  margin-bottom: 30px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  color: #000;
}

.sidebar {
  padding-top: 40px;
  padding-bottom: 40px;
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.wrap {
  padding-top: 40px;
  display: grid;
  grid-template-areas: 'sidebar ... content content';
  margin:auto;
  width: 600px;
}
